rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /clientProfiles/{profileId} {
      allow read, write: if true;
    }

    match /dailyReports/{reportId} {
      allow read, write: if true;
    }
  }
}
